
<div class="row">
  <h3>Create new ad</h3>
  <form action="/create/ad" method="POST" class="col s12">

    <div class="row">
      <div class="input-field col s6">
        <input type="number" id="height" name="ad[height]" class="validate" required data-error="Please enter a number">
        <label for="size">Height</label>
      </div>
      <div class="input-field col s6">
        <input type="number" id="columns" name="ad[columns]" class="validate" required data-error="Please enter a number">
        <label for="columns">Columns</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <textarea name="ad[note]" id="note"></textarea>
        <label for="note">Notes</label>
      </div>
      <div class="input-field col s6">
        <select name="ad[customer]" class="validate" required>
          <option value="" disabled selected>Customer</option>
          <% @customers.each do |c| %>
            <option value="<%= c.id %>"><%= c.business_name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select name="ad[feature]" class="validate" required>
          <option value="" disabled selected>Feature</option>
          <% @features.each do |f| %>
            <option value="<%= f.id %>"><%= f.name %></option>
          <% end %>
        </select>
      </div>
      <div class="input-field col s4 single-publication">
        <select name="ad[single-publication]" class="validate">
          <option value="" disabled selected>Publication</option>
          <% @publications.each do |p| %>
            <option value="<%= p.id %>"><%= display_date(p.date) %> - <%= p.name %></option>
          <% end %>
        </select>
      </div>
      <div class="input-field col s2">
        <input type="checkbox" name="ad[repeat]" id="repeat" value="repeat">
        <label for="repeat">Is this a repeat ad?</label>
      </div>
    </div>
    <div class="row" id="repeat-dates" style="display:none;">
      <h4>Publication dates</h4>
      <% count = 0 %>
      <% @publications.each do |p| %>
        <div class="input-field col s3">
          <input type="checkbox" id="repeat<%= count %>" name="ad[publication][<%= p.id %>]">
          <label for="repeat<%= count %>"><%= "#{display_date(p.date)} - #{p.name}" %></label>
        </div>
        <% count += 1 %>
      <% end %>
    </div>
    <button type="submit" class="btn-floating btn-large"><i class="fa fa-plus"></i></button>
  </form>
</div>
