<div class="row">
  <h3>Create new ad</h3>
  <form action="/create/ad" method="POST" class="col s12">

    <div class="row">
      <div class="input-field col m6 s12">
        <span class="label">Height</span>
        <input type="number" id="height" name="ad[height]" class="validate" required data-error="Please enter a number" <%= session[:ad][:height] ? "value='#{ session[:ad][:height] }'" : "" %> >
      </div>
      <div class="input-field col m6 s12">
        <span class="label">Columns</span>
        <input type="number" id="columns" name="ad[columns]" class="validate" required data-error="Please enter a number" <%= session[:ad][:columns] ? "value='#{ session[:ad][:columns] }'" : "" %>>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m6 s12">
        <span class="label">Notes</span>
        <textarea name="ad[note]" id="note"><%= session[:ad][:notes]%></textarea>
      </div>
      <div class="input-field col m6 s12">
        <span class="label">Customer</span>
        <select class="browser-default selectize" name="ad[customer]" class="validate" required data-error="Please select a customer">
          <option value="" disabled <%= session[:ad][:customer] ? "" : "selected" %>>Customer</option>
          <% @customers.each do |c| %>
            <% if c.banned == false %>
              <option value="<%= c.id %>" <%= session[:ad][:customer].to_i == c.id ? "selected" : "" %>><%= c.business_name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m6 s12">
        <span class="label">Position</span>
        <select class="browser-default selectize" name="ad[feature]" class="validate" id="feature" required data-error="Please select a feature">
          <option value="" disabled <%= session[:ad][:feature] ? "" : "selected" %>>Position</option>
          <% @features.each do |f| %>
            <option value="<%= f.id %>" rate="<%= f.rate %>" <%= session[:ad][:feature].to_i == f.id ? "selected" : "" %>><%= f.name %></option>
          <% end %>
        </select>
      </div>
      <div class="input-field col m6 s12">
        <span class="label">Info</span>
        <input type="text" name="ad[position]" id="position" <%= session[:ad] ? "value='#{session[:ad][:position]}'" : "" %>>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m4 s8">
        <span class="label">Payment type</span>
        <select name="ad[payment]" required>
          <option value="1" <%= session[:ad][:payment] == "1" ? "selected" : "" %>>Account</option>
          <option value="2" <%= session[:ad][:payment] == "2" ? "selected" : "" %>>Cash</option>
          <option value="3" <%= session[:ad][:payment] == "3" ? "selected" : "" %>>Eftpos/Credit Card</option>
          <option value="4" <%= session[:ad][:payment] == "4" ? "selected" : "" %>>Direct Credit</option>
          <option value="5" <%= session[:ad][:payment] == "5" ? "selected" : "" %>>Cheque</option>
        </select>
      </div>
      <div class="input-field col m2 s4">
        <input type="checkbox" name="ad[paid]" id="paid" value="paid" checked>
        <label for="paid">Paid?</label>
      </div>
      <div class="input-field col m6 s12">
        <span class="label">Price (leave blank to generate price automatically)</span>
        <input type="number" name="ad[price]" id="price" min="0" step="0.01" <%= session[:ad] ? "value='#{session[:price]}'" : "" %>>
      </div>
    </div>
    <div class="row">
      <% if env['warden'].user.role == 1 || env['warden'].user.role == 4 %>
      <div class="input-field col m6 s12">
        <span class="label">Rep</span>
        <select name="ad[user]" required>
          <option value="" disabled>Rep</option>
          <% @users.each do |u| %>
            <option value="<%= u.id %>" <% if u.id == env['warden'].user.id %>selected<% end %>><%= u.username.capitalize %></option>
          <% end %>
        </select>
      </div>
      <% end %>
      <div class="input-field col m6 s12">
        <span class="label">Receipt number</span>
        <input type="text" name="ad[receipt]" id="receipt" <%= session[:ad] ? "value='#{session[:ad][:receipt]}'" : "" %>>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m6 s12">
        <span class="label">Order number / Key number</span>
        <input type="text" name="ad[print]" id="receipt" <%= session[:ad] ? "value='#{session[:ad][:print]}'" : "" %>>
      </div>
      <div class="input-field col m4 s8 single-publication">
        <span class="label">Publication</span>
        <select class="browser-default selectize" name="ad[single-publication]">
          <option value="" disabled selected>Publication</option>
          <% @publications.each do |p| %>
            <% if p.id == next_issue.id %>
              <option value="<%= p.id %>" selected><%= display_date(p.date) %> - <%= p.name %></option>
            <% elsif session[:ad][:publication] == p.id %>
              <option value="<%= p.id %>" selected><%= display_date(p.date) %> - <%= p.name %></option>
            <% else %>
              <option value="<%= p.id %>"><%= display_date(p.date) %> - <%= p.name %></option>
            <% end %>

          <% end %>
        </select>
      </div>
      <div class="input-field col m2 s4">
        <input type="checkbox" name="ad[repeat]" id="repeat" value="repeat">
        <label for="repeat">Multiple bookings</label>
      </div>
    </div>

    <div id="repeat-dates" style="display:none;">
      <div class="row">
        <h4>Publication dates</h4>
        <% count = 0 %>
        <% @publications.each do |p| %>
          <div class="input-field col m3 s6">
            <input type="checkbox" id="repeat<%= count %>" name="ad[publication][<%= p.id %>]">
            <label for="repeat<%= count %>"><%= "#{display_date(p.date)} - #{p.name}" %></label>
          </div>
          <% count += 1 %>
        <% end %>
      </div>
      <div class="row">
        <div class="input-field col m6 s12">
          <input type="checkbox" name="ad[show_repeat]" id="show_repeat" value="show_repeat" checked>
          <label for="show_repeat">Book without a repeat date?</label>
        </div>
        <div class="input-field col m6 s12">
          <span class="label">Custom repeat date</span>
          <select class="browser-default selectize" name="ad[custom_repeat]">
            <option value="" disabled selected>Publication</option>
            <% @all_publications.each do |p| %>
                <option value="<%= p.id %>"><%= display_date(p.date) %> - <%= p.name %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="btn-floating btn-large tooltipped" data-delay="50" data-tooltip="Create ad" data-position="top"><i class="fa fa-plus"></i></button>
    <a href="/cancel/ad" class="btn-floating btn-large red right tooltipped" data-delay="50" data-tooltip="Cancel ad" data-position="top"><i class="fa fa-close"></i></a>
  </form>
</div>
