<div class="row">
  <h3>Edit ad</h3>
  <form action="/edit/ad/<%= @ad.id %>" method="post" class="col s12">

    <div class="row">
      <div class="input-field col s6">
        <input type="text" id="height" name="ad[height]" value="<%= @ad.height %>">
        <label for="size">Height</label>
      </div>
      <div class="input-field col s6">
        <input type="text" id="columns" name="ad[columns]" value="<%= @ad.columns %>">
        <label for="columns">Columns</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select class="browser-default selectize" name="ad[feature]">
          <option value="<%= @ad.feature[:id] %>" selected><%= @ad.feature[:name] %></option>
          <% @features.each do |f| %>
            <option value="<%= f.id %>"><%= f.name %></option>
          <% end %>
        </select>
      </div>
      <div class="input-field col s6">
        <select class="browser-default selectize" name="ad[publication]">
          <option value="<%= @ad.publication[:id] %>" selected><%= "#{display_date(@ad.publication[:date])} - #{@ad.publication[:name]}" %></option>
          <% @publications.each do |p| %>
            <option value="<%= p.id %>"><%= display_date(p.date) %> - <%= p.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <textarea name="ad[note]" id="note"><%= @ad.note %></textarea>
        <label for="note">Notes</label>
      </div>
      <div class="input-field col s6">
        <select class="browser-default selectize" name="ad[customer]">
          <option value="<%= @ad.customer[:id] %>" selected><%= @ad.customer[:business_name] %></option>
          <% @customers.each do |c| %>
            <option value="<%= c.id %>"><%= c.business_name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="number" name="ad[price]" id="price" value="<%= @ad.price %>" validate data-error="Please enter a number" <%= env['warden'].user['role'] != 1 ? 'disabled' : '' %> min="0" step="0.01">
        <label for="price">Price</label>
      </div>
    </div>
    <button type="submit" class="btn-floating btn-large"><i class="fa fa-plus"></i></button>
  </form>
</div>
