<div class="row">
  <h3>Edit ad</h3>
  <form action="/edit/ad/<%= @ad.id %>" method="post" class="col s12">

    <div class="row">
      <div class="input-field col s6">
        <span class="label">Height</span>
        <input type="text" id="height" name="ad[height]" value="<%= @ad.height %>">
      </div>
      <div class="input-field col s6">
        <span class="label">Columns</span>
        <input type="text" id="columns" name="ad[columns]" value="<%= @ad.columns %>">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <span class="label">Notes</span>
        <textarea name="ad[note]" id="note"><%= @ad.note %></textarea>
      </div>
      <div class="input-field col s6">
        <span class="label">Customer</span>
        <select class="browser-default selectize" name="ad[customer]">
          <option value="<%= @ad.customer[:id] %>" selected><%= @ad.customer[:business_name] %></option>
          <% @customers.each do |c| %>
            <option value="<%= c.id %>"><%= c.business_name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <span class="label">Feature</span>
        <select class="browser-default selectize" name="ad[feature]">
          <option value="<%= @ad.feature[:id] %>" selected><%= @ad.feature[:name] %></option>
          <% @features.each do |f| %>
            <option value="<%= f.id %>"><%= f.name %></option>
          <% end %>
        </select>
      </div>
      <div class="input-field col m6 s12">
        <span class="label">Position</span>
        <input type="text" name="ad[position]" value="<%= @ad.position %>" id="position">
      </div>

    </div>
    <div class="row">
      <div class="input-field col m4 s8">
        <span class="label">Payment type</span>
        <select name="ad[payment]" required>
          <option value="" disabled>Payment type</option>
          <option value="1" <% if @ad.payment == 1 %>selected<% end %>>Account</option>
          <option value="2" <% if @ad.payment == 2 %>selected<% end %>>Cash</option>
          <option value="3" <% if @ad.payment == 3 %>selected<% end %>>Eftpos</option>
        </select>
      </div>
      <div class="input-field col m2 s4">
        <input type="checkbox" name="ad[paid]" id="paid" value="paid" <%= @ad.paid ? 'checked' : '' %>>
        <label for="paid">Paid?</label>
      </div>
      <div class="input-field col s6">
        <span class="label">Price</span>
        <input type="number" name="ad[price]" id="price" value="<%= @ad.price %>" validate data-error="Please enter a number" <%= env['warden'].user['role'] == 2 || env['warden'].user.role == 3 ? 'disabled' : '' %> min="0" step="0.01">
      </div>
    </div>
      <div class="row">
        <% if env['warden'].user.role == 1 || env['warden'].user.role == 4 %>
          <div class="input-field col s6">
            <span class="label">Rep</span>
            <select name="ad[user]">
              <option value="" disabled>Rep</option>
              <% @users.each do |u| %>
                <option value="<%= u.id %>" <% if u.id == @ad.user_id %>selected<% end %>><%= u.username.capitalize %></option>
              <% end %>
            </select>
          </div>
        <% end %>
        <div class="input-field col m6 s12">
          <span class="label">Receipt</span>
          <input type="text" name="ad[receipt]" id="receipt" value="<%= @ad.receipt %>">
        </div>
    </div>
    <div class="row">
      <div class="input-field col m6 s12">
        <span class="label">Print only field (for accounts)</span>
        <input type="text" name="ad[print]" id="print" value="<%= @ad.print_only %>">
      </div>

      <div class="input-field col s6">
        <span class="label">Publication</span>
        <select class="browser-default selectize" name="ad[publication]">
          <option value="<%= @ad.publication[:id] %>" selected><%= "#{display_date(@ad.publication[:date])} - #{@ad.publication[:name]}" %></option>
          <% @publications.each do |p| %>
            <option value="<%= p.id %>"><%= display_date(p.date) %> - <%= p.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <span class="label">Repeat date</span>
        <select class="browser-default selectize" name="ad[repeat_date]">
          <option value="none">None</option>
          <% if @ad.repeat_date != nil %>
            <option value="<%= @ad.publication[:date] %>" selected><%= "#{display_date(@ad.repeat_date)} - #{@ad.publication[:name]}" %></option>
          <% else %>
          <option disabled selected>Repeat date</option>
          <% end %>
          <% @publications.each do |p| %>
            <option value="<%= p.date %>"><%= display_date(p.date) %> - <%= p.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <button type="submit" class="btn-floating btn-large"><i class="fa fa-plus"></i></button>
  </form>
</div>
