
<div class="row">
  <h3>Edit customer</h3>
  <form action="/edit/customer/<%= @customer.id %>" method="post" class="col s12">
    <div class="row">
      <div class="input-field col m6 s12">
        <input type="text" id="contact_name" name="customer[contact_name]" value="<%= @customer.contact_name %>">
        <label for="contact_name">Contact name</label>
      </div>
      <div class="input-field col m6 s12">
        <input type="text" id="business_name" name="customer[business_name]" value="<%= @customer.business_name %>">
        <label for="business_name">Business name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m6 s12">
        <input type="text" id="billing_address" name="customer[billing_address]" value="<%= @customer.billing_address %>">
        <label for="billing_address">Phone</label>
      </div>
      <div class="input-field col m6 s12">
        <input type="text" id="phone" name="customer[phone]" value="<%= @customer.phone %>">
        <label for="phone">Phone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m6 s12">
        <input type="text" id="mobile" name="customer[mobile]" value="<%= @customer.mobile %>">
        <label for="mobile">Mobile</label>
      </div>
      <div class="input-field col m6 s12">
        <input type="text" id="email" name="customer[email]" value="<%= @customer.email %>">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m6 s12">
        <input type="text" id="alt_contact_name" name="customer[alt_contact_name]" value="<%= @customer.alt_contact_name %>">
        <label for="contact_name">Alternate contact name</label>
      </div>
      <div class="input-field col m6 s12">
        <input type="text" id="alt_phone" name="customer[alt_contact_phone]" value="<%= @customer.alt_contact_phone %>">
        <label for="phone">Alternate contact phone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m6 s12">
        <input type="number" id="custom-rate" name="customer[custom_rate]" value="<%= @customer.custom_rate %>" min="0" step="0.01">
        <label for="custom-rate">Custom Rate</label>
      </div>
      <div class="input-field col m6 s12">
        <textarea name="customer[notes]" id="note"><%= @customer.notes %></textarea>
        <label for="note">Notes</label>
      </div>
    </div>
    <% if env['warden'].user.role == 1 || env['warden'].user.role == 4 %>
      <div class="row">
        <div class="input-field col s6">
          <input type="checkbox" id="banned" name="customer[banned]" <%= @customer.banned  ? 'checked="checked"' : '' %>>
          <label for="banned">Stop bookings for this customer</label>
        </div>
      </div>
    <% end %>
    <button type="submit" class="btn-floating btn-large"><i class="fa fa-check"></i></button>
  </form>
</div>
