<!DOCTYPE HTML>
<html>
<head>
  <title>
    EzrAds | <%= @title ? @title : nil %>
  </title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" href="<%= url('/style.css') %>" type="text/css">
  <link rel="stylesheet" href="<%= url('/selectize.css') %>" type="text/css">
  <link rel="stylesheet" href="<%= url('/custom.css') %>" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script type="text/javascript" src="<%= url('/jquery.tablesorter.min.js') %>"></script>
  <script type="text/javascript" src="<%= url('/selectize.js') %>"></script>
  <script type="text/javascript" src="<%= url('/custom.js') %>"></script>

</head>
<body>

  <nav>
    <ul id="customer-dropdown" class="dropdown-content">
      <li><a href="/create/customer">Create new</a></li>
    </ul>
    <ul id="ads-dropdown" class="dropdown-content">
      <li><a href="/create/ad">Create new</a></li>
    </ul>
    <ul id="users-dropdown" class="dropdown-content">
      <li><a href="/create/user">Create new</a></li>
    </ul>
    <ul id="me-dropdown" class="dropdown-content">
      <li><a href="/create/task">Create task</a></li>
    </ul>

    <ul id="publications-dropdown" class="dropdown-content">
      <li><a href="/create/publication">Create publication</a></li>
      <li><a href="/view/features">View features</a></li>
      <li><a href="/create/feature">Create feature</a></li>
    </ul>

    <div class="nav-wrapper">
      <a href="/" class="brand-logo">EzrAds</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-navicon"></i></a>
      <ul id="nav" class="right hide-on-med-and-down">
        <li><a href="/" class="dropdown-button" data-activates="ads-dropdown">Bookings <i class="fa fa-angle-down"></i></a></li>
        <li><a href="/view/customers" class="dropdown-button" data-activates="customer-dropdown">Customers <i class="fa fa-angle-down"></i></a></li>
        <li><a href="/view/users"
          <% if env['warden'].user %>
            <% if env['warden'].user.role == 1 %>
              class="dropdown-button" data-activates="users-dropdown">Users <i class="fa fa-angle-down"></i></a></li>
            <% else %>
              >Users</a></li>
            <% end %>
          <% end %>
        <li><a href="/view/publications" class="dropdown-button" data-activates="publications-dropdown">Publications <i class="fa fa-angle-down"></i></a></li>
        <li><a href="/search"><i class="fa fa-search"></i> Search</a></li>
        <% if i = env['warden'].user %>
        <li><a href="/me" class="dropdown-button" data-activates="me-dropdown"><i class="fa fa-user"></i> <%= "#{env['warden'].user.username.capitalize}" %> <span class="badge"><%= display_task_number %></span></a></li>
        <% end %>
        <li><a href="#" class="datepicker"><i class="fa fa-calendar"></i> <%= "#{display_date(Date.today)}" %></a></li>
        <% if env['warden'].user == nil %>
          <li><a href="/auth/login">Login</a></li>
        <% else %>
          <li><a href="/auth/logout">Logout</a></li>
        <% end %>

      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Ads</a></li>
        <li><a href="/view/customers">Customers</a></li>
        <li><a href="/view/users">Users</a></li>
        <li><a href="/view/publications">Publications</a></li>

        <li><a href="/view/tasks">Tasks<span class="badge"><%= display_task_number %></span></a></li>
        <% if env['warden'].user == nil %>
          <li><a href="/auth/login">Login</a></li>
        <% else %>
          <li><a href="/auth/logout">Logout</a></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="flash">
    <div class="container">
      <div class="col">
        <% if flash[:success] %>
          <div class="card flash-success">
              <div class="card-content">
                <p>Success: <%= flash[:success] %></p>
                <button class="btn-floating light-green darken-2 right close-flash"><i class="fa fa-close"></i></button>
              </div>
          </div>
        <% end %>
        <% if flash[:error] %>
          <div class="card flash-error">
              <div class="card-content white-text">
                <p>Error: <%= flash[:error] %></p>
                <button class="btn-floating red lighten-2 secondary-content close-flash"><i class="fa fa-close"></i></button>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="main">
  <div class="container">
  <%= yield %>
  </div>
  </div>
  <div class="footer">

  </div>
</body>
</html>
