<div class="row">
  <% @tasks.each do |t| %>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><%= t.title %></span>
            <p class="grey-text text-darken-2">Deadline: <%= display_date(t.deadline) %></p>
            <p class="grey-text text-darken-2">Task created at: <%= display_time(t.created_at) %></p>
            <p class="grey-text text-darken-2">Issued by: <%= display_user(t.created_by) %></p>
            <p><%= t.body %></p>
          </div>
          <div class="card-action">
            <a href="/task/completed/<%= t.id %>">Done</a>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div class="row">
  <%= column_chart @data %>
</div>
<a href="/changepassword/<%= @user.id %>" class="btn right">Change password</a>
<p>Monthly gross to date: $<%= format_price(@price) %></p>
<p>Ads booked this month: <%= @count %></p>
<p><a href="/view/tasks/complete">View completed tasks</a></p>

<table class="ad_table tablesorter highlight">
  <thead>
    <tr>
      <th>Created at</th>
      <th>Business</th>
      <th>Publication Date</th>
      <% if @role == 1 || @role == 4 %>
        <th>Publication</th>
      <% end %>
      <th>Height x Columns</th>

      <th>Feature</th>
      <th>Position</th>
      <% if @role != 3 %>
        <th>Price</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
<% if @ads %>
<% @ads.each do |a| %>
    <tr class="<% if a.completed == true %>completed<% else %>incomplete<% end %>">
      <td><%= display_time(a.created_at) %></td>
      <td><a href="/view/customer/<%= a.customer.id %>"><%= a.customer.business_name %></a></td>
      <td><a href="/view/publication/<%= a.publication.id %>"><%= display_date(a.publication[:date]) %></a></td>
      <% if @role == 1 || @role == 4 %>
        <td><%= a.publication[:name] %></td>
      <% end %>
      <td><%= a.height %> x <%= a.columns %></td>
      <td><%= a.feature[:name] %></td>
      <td><%= a.position %></td>
      <% if @role != 3 %>
        <td>$<%= format_price(a.price) %></td>
      <% end %>
      <td>
        <a href="/view/ad/<%= a.id %>" class="tooltipped" data-delay="50" data-tooltip="View" data-position="top"><i class="fa fa-eye"></i></a></td>
      </td>
      <td>
          <a href="/edit/ad/<%= a.id %>" class="tooltipped" data-delay="50" data-tooltip="Edit" data-position="top"><i class="fa fa-pencil-square-o"></i></a>
      </td>
      <td>
        <a href="/create/task/<%= a.id %>" class="tooltipped" data-delay="50" data-tooltip="Send as task" data-position="top"><i class="fa fa-send"></i></a></td>
      </td>
      <td>
          <a href="/delete/ad/<%= a.id %>" class="delete-ad tooltipped" data-delay="50" data-tooltip="Delete" data-position="top" style="color:red"><i class="fa fa-trash"></i></a>
      </td>
    </tr>

<% end %>
<% end %>
</tbody>
</table>
