<div class="row">
  <h4>Paper settings</h4>
  <form action="/edit/paper" method="POST" class="col s12">

    <div class="row">
      <div class="input-field col s6">
        <input type="text" id="paper_name" name="paper[name]" class="validate" value="<%= @paper.name %>" required>
        <label for="height">Paper name</label>
      </div>
      <div class="input-field col s6">
        <input type="number" id="gst" name="paper[gst]" class="validate" required data-error="Please enter a number" min="0" step="0.01" value="<%= @paper.gst %>">
        <label for="columns">GST rate</label>
      </div>
    </div>
    <button type="submit" class="btn"><i class="fa fa-plus"></i> Save</button>
  </form>
</div>
<hr>
<div class="row">
  <h4>Message of the Day</h4>
  <form action="/create/motd" method="POST" class="col s12">

    <div class="row">
      <div class="input-field col s6">
        <textarea name="motd[message]" id="motd-message"><%= @motd.message %></textarea>
        <label for="height">Message</label>
      </div>
      <div class="input-field col s4">
        <select name="motd[paper]">
          <option value="" disabled selected>Paper</option>
          <% @papers.each do |p| %>
            <option value="<%= p.id %>" <%= @motd.paper_id == p.id ? "selected" : "" %>><%= p.name %></option>
          <% end %>
        </select>
      </div>
      <div class="input-field col m2 s4">
        <input type="checkbox" name="motd[enabled]" id="enabled" value="enabled" checked>
        <label for="enabled">Enabled</label>
      </div>
    </div>
    <button type="submit" class="btn"><i class="fa fa-plus"></i> Save</button>
  </form>
</div>
<hr>
<div class="row">
  <h4>Create new paper</h4>
  <form action="/create/paper" method="POST" class="col s12">

    <div class="row">
      <div class="input-field col s6">
        <input type="text" id="paper_name" name="paper[name]" class="validate" required>
        <label for="height">Paper name</label>
      </div>
      <div class="input-field col s6">
        <input type="number" id="gst" name="paper[gst]" class="validate" required data-error="Please enter a number" min="0" step="0.01">
        <label for="columns">GST rate</label>
      </div>
    </div>
    <button type="submit" class="btn"><i class="fa fa-plus"></i> Create</button>
  </form>
</div>
