<div class="row">
  <form action="/" method="post" class="col s12">
    <div class="row">
      <div class="input-field col s10">
        <select name="view[publication]">
          <option value="" disabled selected>View publication</option>
          <% @publications.each do |p| %>
            <option value="<%= p.id %>"><%= "#{display_date(p.date)} - #{p.name}" %></option>
          <% end %>
          <label>View publication</label>
        </select>
      </div>
      <div class="input-field col s2">
        <button class="btn" type="submit">Go</button>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col m12">
    <div class="card-panel blue darken-4">
      <span class="white-text"><%= "Viewing ads for #{@pub.name} - #{display_date(@pub.date)}" %></span>
      <% if env['warden'].user.role == 1 %>
      <span class="white-text right">Publication gross: $<%= @gross %> / Ads booked: <%= @count %></span>
      <% end %>
    </div>
  </div>
</div>
<table class="ad_table tablesorter highlight">
  <thead>
    <tr>
      <th>Business</th>
      <th>Rep</th>
      <th>Height</th>
      <th>Columns</th>
      <th>Feature</th>
      <th>Position</th>
      <th>Repeat date</th>
      <% if @role != 3 %>
        <th>Price</th>
      <% end %>
      <th>Notes</th>
      <th>Complete</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
<% if @ads %>
<% @ads.each do |a| %>
    <tr class="<% if a.placed == true %>completed<% else %>incomplete<% end %>">
      <td><a href="/view/customer/<%= a.customer.id %>"><%= a.customer.business_name %></a></td>
      <td><%= a.user[:username].capitalize %></td>
      <td><%= a.height %></td>
      <td><%= a.columns %></td>
      <td><%= a.feature[:name] %></td>
      <td><%= a.position %></td>
      <td><%= display_date(a.repeat_date) %>
      <% if @role != 3 %>
        <td>$<%= a.price %></td>
      <% end %>

      <td>
        <% if a.note != "" %>
        <a href="#note<%= a.id %>" class="toggle-note"><i class="fa fa-clipboard"></i></a>
          <% else %>

          <i class="fa fa-clipboard"></i>
          <% end %>

      </td>
      <td>
        <% if a.completed == true %>
          <a href="/ad/incomplete/<%= a.id %>"><i class="fa fa-check"></i> Yes</a>
        <% else %>
          <a href="/ad/completed/<%= a.id %>"><i class="fa fa-minus"></i> No</a>
        <% end %>
      </td>
      <td>
        <% if a.placed == true %>
          <a href="/ad/unplace/<%= a.id %>"><i class="fa fa-check"></i> Yes</a>
        <% else %>
          <a href="/ad/place/<%= a.id %>"><i class="fa fa-minus"></i> No</a>
        <% end %>
      </td>
    </tr>
    <div id="note<%= a.id %>" class="modal">
      <div class="modal-content">
        <h4>Notes</h4>
        <p><%= a.note %></p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
      </div>
    </div>

<% end %>
<% end %>
  </tbody>
</table>
