<table class="ad_table highlight">
  <thead>
    <tr>
      <th>Business</th>
      <th>Rep</th>
      <th>Height</th>
      <th>Columns</th>
      <th>Feature</th>
      <th>Position</th>
      <th>Publication</th>
      <th>Publication date</th>
      <th>Repeat</th>
      <% if @role != 3 %>
        <th>Price</th>
      <% end %>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr class="<% if @ad.placed == true %>completed<% else %>incomplete<% end %>">
      <td><a href="/view/customer/<%= @ad.customer.id %>"><%= @ad.customer.business_name %></a></td>
      <td><%= @ad.user[:username].capitalize %></td>
      <td><%= @ad.height %></td>
      <td><%= @ad.columns %></td>
      <td><%= @ad.feature[:name] %></td>
      <td><%= @ad.position %></td>
      <td><%= @ad.publication[:name] %></td>
      <td><%= display_date(@ad.publication[:date]) %></td>
      <td><%= display_date(@ad.repeat_date) %>
      <% if @role != 3 %>
        <td>$<%= @ad.price %></td>
      <% end %>

      <td>
        <% if @ad.note != "" %>
          <a href="#note<%= @ad.id %>" class="toggle-note"><i class="fa fa-clipboard"></i></a>
        <% else %>
          <i class="fa fa-clipboard"></i>
        <% end %>

      </td>
      <td>
        <a href="/edit/ad/<%= @ad.id %>"><i class="fa fa-pencil-square-o"></i></a>
      </td>
    </tr>
    <div id="note<%= @ad.id %>" class="modal">
      <div class="modal-content">
        <h4>Notes</h4>
        <p><%= @ad.note %></p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
      </div>
    </div>

  </tbody>
</table>
<hr />
<h4>Repeat ad</h4>
<form action="/create/ad" method="POST" class="col s12">
  <input type="hidden" name="ad[height]" value="<%= @ad.height %>">
  <input type="hidden" name="ad[columns]" value="<%= @ad.columns %>">
  <input type="hidden" name="ad[note]" value="<%= @ad.note %>">
  <input type="hidden" name="ad[customer]" value="<%= @ad.customer_id %>">
  <input type="hidden" name="ad[feature]" value="<%= @ad.feature_id %>">
  <input type="hidden" name="ad[position]" value="<%= @ad.position %>">
  <input type="hidden" name="ad[repeat_date]" value="<%= @ad.publication.date %>">
  <input type="hidden" name="ad[updated_by]" value="<%= env['warden'].user.id %>">
  <input type="hidden" name="ad[payment]" value="<%= @ad.payment %>">
  <div class="row">
    <div class="input-field col s4">
      <select name="ad[user]">
        <% @users.each do |u| %>
          <option value="<%= u.id %>"><%= u.username.capitalize %></option>
        <% end %>
      </select>
    </div>
    <div class="input-field col s4 single-publication">
      <select class="browser-default selectize" name="ad[single-publication]" class="validate">
        <option value="" disabled selected>Publication</option>
        <% @publications.each do |p| %>
          <option value="<%= p.id %>"><%= display_date(p.date) %> - <%= p.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Repeat</button>
</form>
