<p><%= "Today is #{(Date.today).strftime('%A %d %b %Y')}" %></p>
<div class="row">

  <a href="/create/ad" class="btn col s2 align-top"><i class="fa fa-plus-circle"></i> Create ad</a>
  <a href="#" class="btn toggle-completed col s2 align-top">Toggle completed</a>

  <form action="/view/ads-by-date" method="post">

      <div class="input-field col s2">
        <input type="date" class="datepicker" name="ad[viewdate]" value="View ads by date">
      </div>
      <div class="input-field col s1">
        <button type="submit" class="btn-floating"><i class="fa fa-search"></i></button>
      </div>
  </form>


</div>
<table class="ad_table tablesorter">
  <thead>
    <tr>
      <th>ID</th>
      <th>Business</th>
      <th>Sales rep</th>
      <th>Publication Date</th>
      <% if @role == 1 || @role == 4 %>
        <th>Publication</th>
      <% end %>
      <th>Height x Columns</th>e

      <th>Position</th>
      <% if @role != 3 %>
        <th>Price</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
<% if @ads %>
<% @ads.each do |a| %>
    <tr class="<% if a.completed == true %>completed<% else %>incomplete<% end %>">
      <td><%= a.id %></td>
      <td><a href="/view/customer/<%= a.customer.id %>"><%= a.customer.business_name %></a></td>
      <td><%= a.user[:username].capitalize %></td>
      <td><%= a.publication[:date] %></td>
      <% if @role == 1 || @role == 4 %>
        <td><%= a.publication[:name] %></td>
      <% end %>
      <td><%= a.height %> x <%= a.columns %></td>
      <td><%= a.position %></td>
      <% if @role != 3 %>
        <td>$<%= a.price %></td>
      <% end %>

      <td>
        <% if a.note %>
        <a href="#note<%= a.id %>" class="toggle-note"><i class="fa fa-pencil-square-o"></i></a>
          <% else %>

          <i class="fa fa-pencil-square-o"></i>
          <% end %>

      </td>
      <td>
        <% if a.completed == true %>
          <a href="/ad/incomplete/<%= a.id %>"><i class="fa fa-check"></i></a>
        <% else %>
          <a href="/ad/completed/<%= a.id %>"><i class="fa fa-eraser"></i></a>
        <% end %>
      </td>
      <td>
        <% if a.placed == true %>
          <a href="/ad/unplace/<%= a.id %>"><i class="fa fa-newspaper-o"></i></a>
        <% else %>
          <a href="/ad/place/<%= a.id %>"><i class="fa fa-minus"></i></a>
        <% end %>
      </td>
    </tr>
    <div id="note<%= a.id %>" class="modal">
      <div class="modal-content">
        <h4>Notes</h4>
        <p><%= a.note %></p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
      </div>
    </div>
    <tr style="display:none" class="note">
      <td></td>
      <td><%= a.note %></td>
    </tr>

<% end %>
<% end %>
  </tbody>
</table>
