
<h4><%= @customer.business_name %></h4>
<p>
  <%= @customer.contact_name %><br />
  <%= @customer.billing_address %><br />
  <%= @customer.phone %><br />
  <%= @customer.mobile %><br />
  <%= @customer.email %>
</p>

<ul class="collection">

    <% @customer.ads.each do |a| %>
      <li class="collection-item avatar">
        <a href="/edit/ad/<%= a.id %>"><i class="fa fa-pencil circle"></i></a>
        <span class="title"><%= display_date(a.publication[:date]) %></span>
        <p>
          <%= "#{a.height} x #{a.columns}" %>
          <%= a.feature[:name] %><br />
          <%= a.publication[:name] %><br />
          <%= display_date(a.publication[:date]) %><br />
          <%= "Created by #{display_user(a.user[:id])} @ #{display_time(a.created_at)}" %><br />
          <% if a.updated_by != nil %>
            <%= "Updated by #{display_user(a.updated_by)} @ #{display_time(a.updated_at)}" %>
          <% end %>
        </p>
      </li>
    <% end %>


</ul>
