<div class="container">
  <form action="/search">
    <div class="input-field custom_search">
      <input id="search" type="search" name="search[query]" required>
      <label for="search"><i class="fa fa-search"></i></label>
    </div>
  </form>
</div>
<ul class="collection">
<% @customers.each do |c| %>
  <li class="collection-item avatar">
    <i class="fa fa-briefcase circle"></i>
    <span class="title"><a href="/view/customer/<%= c.id %>"><%= c.business_name %></a></span>
    <p><%= c.contact_name %><br />
    <%= c.billing_address %><br />
    <%= c.phone %><br />
    <%= c.email %></p>

    <a class="btn" href="/edit/customer/<%= c.id %>"><i class="fa fa-edit"></i> Edit</a>

  </li>
<% end %>
</ul>
