
<h4><%= "#{@publication.name} - #{display_date(@publication.date)}" %></h4>
<div class="row">
  <div class="col m6 s12">
    <%= pie_chart @feat_data, label: "Ads sold by feature" %>
  </div>
  <div class="col m4 s12">
    <table>
      <tr>
        <form action="/ads/publication/" method="get" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input name="view[publication]" type="hidden" value="<%= @publication.id %>">
              <button class="btn" type="submit">View ads</button>
            </div>
          </div>
        </form>
      </tr>
      <tr>
        <td>Ads Booked</td>
        <td class="right"><%= @publication.ads.count %></td>
      </tr>
      <tr class="total">
        <td>Account</td>
        <td class="right"><%= "$#{format_price(@gross)}" %></td>
      </tr>
      <tr>
        <td>Paid</td>
        <td class="right"><%= "$#{format_price(@paid)}" %></td>
      </tr>
      <tr class="total">
        <td>Total</td>
        <td class="right">$<%= format_price(@gross + @paid) %></td>
      </tr>
      <tr>
        <td>GST</td>
        <td class="right"><%= "$#{format_price(@gst)}" %></td>
      </tr>
      <tr>
        <td>Total +GST</td>
        <td class="right"><%= "$#{format_price((@gross + @paid) + @gst)}" %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col m6 s12">
    <%= column_chart @pub_data %>
  </div>
  <div class="col m6 s12">
    <%= pie_chart @repdata, label: "Ads sold by rep" %>
  </div>
</div>
