<a href="/create/user" class="btn">Create user</a>
<ul class="collection">
<% @user.each do |u| %>
  <li class="collection-item avatar">
    <i class="fa fa-male circle"></i>
    <span class="title"><%= u.username %></span>
    <p><%= u.phone %><br />
    <%= u.email %></p>
    <a class="btn" href="/edit/user/<%= u.id %>"><i class="fa fa-edit"></i> Edit</a>
    <a class="btn-floating red secondary-content" href="/delete/user/<%= u.id %>"><i class="fa fa-trash"></i></a>
  </li>
<% end %>
</ul>
