
<h4><%= "#{@publication.name} - #{display_date(@publication.date)}" %></h4>
<div class="row">
  <div class="col m6 s12">
    <p><%= "Ads booked: #{@publication.ads.count}" %></p>
  </div>
  <div class="col m4 s12">
    <table>
      <tr>
        <td>Gross</td>
        <td class="right"><%= "$#{@gross}" %></td>
      </tr>
      <tr>
        <td>Paid</td>
        <td class="right"><%= "$#{@paid}" %></td>
      </tr>
      <tr>
        <td>GST</td>
        <td class="right"><%= "$#{@gst}" %></td>
      </tr>
      <tr class="total">
        <td>Total</td>
        <td class="right">$<%= @gross + @paid + @gst %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col m6 s12">
    <%= column_chart @pub_data %>
  </div>
  <div class="col m6 s12">
    <%= pie_chart @repdata, label: "Ads sold by rep" %>
  </div>
</div>
