<table class="ad_table highlight">
  <thead>
    <tr>
      <th>Business</th>
      <th>Rep</th>
      <th>Height</th>
      <th>Columns</th>
      <th>Feature</th>
      <th>Position</th>
      <th>Repeat date</th>
      <% if @role != 3 %>
        <th>Price</th>
      <% end %>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr class="<% if @ad.placed == true %>completed<% else %>incomplete<% end %>">
      <td><a href="/view/customer/<%= @ad.customer.id %>"><%= @ad.customer.business_name %></a></td>
      <td><%= @ad.user[:username].capitalize %></td>
      <td><%= @ad.height %></td>
      <td><%= @ad.columns %></td>
      <td><%= @ad.feature[:name] %></td>
      <td><%= @ad.position %></td>
      <td><%= display_date(@ad.repeat_date) %>
      <% if @role != 3 %>
        <td>$<%= @ad.price %></td>
      <% end %>

      <td>
        <% if @ad.note != "" %>
          <a href="#note<%= @ad.id %>" class="toggle-note"><i class="fa fa-clipboard"></i></a>
        <% else %>
          <i class="fa fa-clipboard"></i>
        <% end %>

      </td>
    </tr>
    <div id="note<%= @ad.id %>" class="modal">
      <div class="modal-content">
        <h4>Notes</h4>
        <p><%= @ad.note %></p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
      </div>
    </div>

  </tbody>
</table>
