<% if @pub.class == String %>
  <p><%= @pub %></p>
<% else %>
<div class="row view-pub">
  <form action="/ads/publication/" method="get" class="col s12">
    <div class="row">
      <div class="input-field col s10">
        <select name="view[publication]">
          <option value="" disabled selected>View publication</option>
          <% @publications.each do |p| %>
            <option value="<%= p.id %>"><%= "#{display_date(p.date)} - #{p.name}" %></option>
          <% end %>
          <label>View publication</label>
        </select>
      </div>
      <div class="input-field col s2">
        <button class="btn" type="submit">Go</button>
      </div>
    </div>
  </form>
</div>

<div class="row info">
  <div class="col m12 s12">
    <div class="card-panel blue darken-4">
      <div class="white-text"><%= "#{@pub.name} - #{display_date(@pub.date)}" %> </div>
      <% if env['warden'].user.role == 1 || env['warden'].user.role == 4 %>
      <div class="white-text print-gross">Publication: $<%= format_price(@gross) %> / Ads booked: <%= @count %></div>
      <% end %>
    </div>
  </div>
</div>

<div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red">
    <i class="fa fa-navicon"></i>
  </a>
  <ul>
    <li><a href="javascript:window.print()"class="btn-floating red"><i class="fa fa-print"></i></a></li>
    <li><a class="btn-floating green toggle-completed"><i class="fa fa-eye"></i></a></li>
    <li><a href="/view/publication/<%= @pub.id %>" class="btn-floating blue"><i class="fa fa-pie-chart"></i></a></li>
  </ul>
</div>
<div class="row feature-selection">
  <form class="col s12 m12">
    <% @features.each do |f| %>
    <div class="col s4 m2">
      <input type="checkbox" id="hide-feature-<%= f.id %>" checked>
      <label for="hide-feature-<%= f.id %>"><%= f.name %></label>
    </div>
    <script>
      $(document).ready(function(){
        $('#hide-feature-<%= f.id %>').click(function(){
          $('.feature-<%= f.id %>')[this.checked ? "show" : "hide"]();
        });
      });
    </script>
    <% end %>
  </form>
</div>

<table class="ad_table tablesorter highlight">
  <thead>
    <tr>
      <th>Business</th>
      <th>Rep</th>
      <th>Height</th>
      <th>Columns</th>
      <th>Feature</th>
      <th>Position</th>
      <th>Repeat</th>
      <th>Payment</th>
      <% if @role != 3 %>
        <th>Price</th>
      <% end %>
      <th class="hide-print">Notes</th>
      <th class="hide-print">Approved</th>
      <th class="hide-print">Placed</th>
    </tr>
  </thead>
  <tbody>
<% if @ads %>
<% @ads.each do |a| %>
  <tr class="<% if a.placed == true %>placed<% elsif a.completed == true %>completed<% else %>not-placed<% end %> feature-<%= a.feature.id %>" id="ad-<%= a.id %>">
    <td><a href="/view/ad/<%= a.id %>"><%= a.customer.business_name %></a></td>
    <td><%= a.user[:username].capitalize %></td>
    <td><%= a.height %></td>
    <td><%= a.columns %></td>
    <td><a href="/view/publication/feature/<%= a.feature.id %>"><%= a.feature[:name] %></a></td>
    <td><%= a.position %></td>
    <td><%= a.repeat_date != a.publication.date ? display_date(a.repeat_date) : "" %></td>
    <td><%= display_payment(a.payment) %></td>
    <% if @role != 3 %>
      <td>$<%= format_price(a.price) %></td>
    <% end %>

    <td class="hide-print">
      <% if a.note != "" %>
      <a href="#note<%= a.id %>" class="toggle-note"><i class="fa fa-clipboard"></i></a>
        <% else %>

        <i class="fa fa-clipboard"></i>
        <% end %>

    </td>
    <td class="hide-print">
      <a href="#" onclick="$.get('/ad/completed/<%= a.id %>', function( data, status ){ $('#ad-<%= a.id %>').removeClass('completed').removeClass('incomplete').addClass(data) })">
        Approve
      </a>
    </td>
    <td class="hide-print">
      <a href="#" onclick="$.get('/ad/place/<%= a.id %>', function( data, status ){ $('#ad-<%= a.id %>').removeClass('placed').removeClass('not-placed').addClass(data) })">
        Place
      </a>
    </td>
  </tr>
  <div id="note<%= a.id %>" class="modal">
    <div class="modal-content">
      <h4>Notes</h4>
      <p><%= a.note %></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
  </div>
<% end %>
<% end %>
  </tbody>
</table>
<% end %>
