<table class="highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Publication</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
<% @users.each do |u| %>
    <tr>
      <td><%= u.username.capitalize %></td>
      <td><%= @roleArr[u.role] %></td>
      <td><%= u.paper.name %></td>
      <td><%= u.phone %></td>
      <td><%= u.email %></td>
      <td><a href="/edit/user/<%= u.id %>"><i class="fa fa-edit"></i></a></td>
    </tr>
<% end %>
</tbody>
</table>
