<!--<div class="container">
  <form action="/search">
    <div class="input-field custom_search">
      <input id="search" type="search" name="search[query]" required>
      <label for="search"><i class="fa fa-search"></i></label>
    </div>
  </form>
</div>-->

<table class="ad_table tablesorter highlight">
  <thead>
    <tr>
      <th>Business name</th>
      <th>Contact name</th>
      <th>Phone</th>
      <th>Mobile</th>
      <th>Email</th>
      <th># of ads</th>
      <th>Custom rate</th>
    </tr>
  </thead>
  <tbody>
<% if @customers %>
<% @customers.each do |a| %>
    <tr>
      <td><a href="/view/customer/<%= a.id %>"><%= a.business_name %></a></td>
      <td><%= a.contact_name %></td>
      <td><%= a.phone %></td>
      <td><%= a.mobile %></td>
      <td><a href="mailto:<%= a.email %>"><%= a.email %></a></td>
      <td><%= a.ads.count %></td>
      <td><%= a.custom_rate > 0 ? true : false %></td>
      <td><a href="/edit/customer/<%= a.id %>"><i class="fa fa-edit"></i></a></td>
    </tr>

<% end %>
<% end %>
  </tbody>
</table>
