
<div class="row">
  <div class="col m6 s12">
    <span class="label">Last month rep figures</span>
    <%= column_chart @last_month %>
  </div>
  <div class="col m6 s12">
    <span class="label">This month rep figures</span>
    <%= column_chart @this_month %>
  </div>
</div>
<table id="rep-monthly-breakdown-table">
  <th>Users</th>
  <% @pub.each do |p| %>
    <th><%= p %></th>
  <% end %>
  <th>Total</th>
  <% @pub_users.each do |u| %>
    <tr>
      <% user_total = 0 %>
      <% u.each do |x| %>

        <% if x.class == String %>
          <td><strong><%= x.capitalize %></strong></td>
        <% else %>
          <% user_total += x %>
          <td>$<%= format_price(x.to_f) %></td>
        <% end %>

      <% end %>
      <td>$<%= format_price(user_total) %></td>
    </tr>
  <% end %>
</table>
<br>
<table class="highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Publication</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
<% @users.each do |u| %>
    <tr>
      <% if env['warden'].user.role == 1 || env['warden'].user.role == 4 %>
        <td><a href="/view/user/<%= u.id %>"><%= u.username.capitalize %></a></td>
      <% else %>
        <td><%= u.username.capitalize %></td>
      <% end %>
      <td><%= @roleArr[u.role] %></td>
      <td><%= u.paper.name %></td>
      <td><%= u.phone %></td>
      <td><%= u.email %></td>
      <% if env['warden'].user.role == 1 %>
      <td><a href="/edit/user/<%= u.id %>"><i class="fa fa-edit"></i></a></td>
      <td><a href="/delete/user/<%= u.id %>" style="color:red"><i class="fa fa-trash"></i></a></td>
      <% end %>
    </tr>
<% end %>
</tbody>
</table>
