
<h4><%= @customer.business_name %></h4>
<p>
  <%= @customer.contact_name %><br />
  <%= @customer.billing_address %><br />
  <%= @customer.phone %><br />
  <%= @customer.mobile %><br />
  <%= @customer.email %>
</p>

<form action="/delete/customer/<%= @customer.id %>" method="post">
  <div class="input-field col s2">
    <input type="checkbox" name="customer[showdelete]" id="deletecheck" value="delete">
    <label for="deletecheck">Delete this customer?</label>
  </div>
  <div class="input-field col s2" id="delete" style="display:none;">
    <div class="card flash-error">
      <div class="card-content">
        <p>WARNING - this will delete <%= @customer.ads.count %> ads...</p>
      </div>
    </div>
    <input type="submit" class="btn red hidden" name="customer[delete]" value="delete">
  </div>
</form>

<ul class="collection">

    <% @customer.ads.each do |a| %>
      <li class="collection-item avatar <%= a.completed ? 'c-completed' : 'incomplete' %>">
        <a href="/edit/ad/<%= a.id %>"><i class="fa fa-pencil circle"></i></a>
        <span class="title"><%= display_date(a.publication[:date]) %></span>
        <p>
          <%= "#{a.height} x #{a.columns}" %>
          <%= a.feature[:name] %><br />
          <%= a.publication[:name] %><br />
          <%= display_date(a.publication[:date]) %><br />
          <%= "Created by #{display_user(a.user[:id])} @ #{display_time(a.created_at)}" %><br />
          <% if a.updated_by != nil %>
            <%= "Updated by #{display_user(a.updated_by)} @ #{display_time(a.updated_at)}" %>
          <% end %>
        </p>
        <% if @role == 1 %>
          <a class="btn-floating red secondary-content" href="/delete/ad/<%= a.id %>"><i class="fa fa-trash"></i></a>
        <% end %>
      </li>
    <% end %>


</ul>
