<div class="row">
  <h4><%= @customer.business_name %></h4>
</div>
<div class="row">
  <div class="col s12 m8">
    <p>
      <%= @customer.contact_name %><br />
      <%= @customer.billing_address %><br />
      <%= @customer.phone %><br />
      <%= @customer.mobile %><br />
      <%= @customer.email %><br />
      <%= @customer.alt_contact_name %><br />
      <%= @customer.alt_contact_phone %>
    </p>
    <p>
      <h5>Notes</h5>
      <%= @customer.notes %>
    </p>
  </div>
  <div class="col s12 m4">
    <p>Monthly spend: <%= @price %></p>
    <p>Ads booked this month: <%= @count %></p>
    <% if @customer.custom_rate != 0 %>
    <p>Custom rate: <%= @customer.custom_rate %></p>
    <% end %>
  </div>
</div>
<div class="row">
  <form action="/delete/customer/<%= @customer.id %>" method="post">
    <div class="input-field col s2">
      <input type="checkbox" name="customer[showdelete]" id="deletecheck" value="delete">
      <label for="deletecheck">Delete this customer?</label>
    </div>
    <div class="input-field col s2" id="delete" style="display:none;">
      <div class="card flash-error">
        <div class="card-content">
          <p>WARNING - this will delete <%= @customer.ads.count %> ads...</p>
        </div>
      </div>
      <input type="submit" class="btn red hidden" name="customer[delete]" value="delete">
    </div>
  </form>
</div>
<table class="ad_table tablesorter highlight">
  <thead>
    <tr>
      <th>Created at</th>
      <th>Sales rep</th>
      <th>Publication date</th>
      <th>Repeat</th>
      <th>Publication</th>
      <th>Height x Columns</th>

      <th>Position</th>
      <% if @role != 3 %>
        <th>Price</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
<% if @ads %>
<% @ads.each do |a| %>
    <tr class="<% if a.completed == true %>completed<% else %>incomplete<% end %>">
      <td><%= display_time(a.created_at) %></td>
      <td><%= a.user[:username].capitalize %></td>
      <td><%= display_date(a.publication[:date]) %></td>
      <td><%= display_date(a.repeat_date) %></td>
      <td><%= a.publication[:name] %></td>
      <td><%= a.height %> x <%= a.columns %></td>
      <td><%= a.feature[:name] %></td>
      <% if @role != 3 %>
        <td>$<%= format_price(a.price) %></td>
      <% end %>
      <td>
        <a href="/view/ad/<%= a.id %>"><i class="fa fa-eye"></i></a>
      </td>
      <td>
          <a href="/edit/ad/<%= a.id %>"><i class="fa fa-pencil-square-o"></i></a>
      </td>
      <td>
          <a href="/delete/ad/<%= a.id %>" class="delete-ad" style="color:red"><i class="fa fa-trash"></i></a>
      </td>
    </tr>

<% end %>
<% end %>
</tbody>
</table>
